{% extends "layout.html" %}
{% load static %}
{% block difbody  %} 

    </header>

    <section class="about_content">

        <div class="container">
            <div class="row">

               <article class="tab col-md-12 col-sm-12 col-xs-12">

                <ul class="nav nav-tabs col-md-2" role="tablist">
                  <li role="presentation" class="active">
                     <a href="#home" aria-controls="home" role="tab" data-toggle="tab">متن اول</a>
                  </li>
                  <li role="presentation">
                     <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">متن دوم</a>
                  </li>
                  <li role="presentation">
                     <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">متن سوم</a>
                  </li>
                  <li role="presentation">
                     <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">متن چهارم</a>
                  </li>
                </ul>

                <div class="tab-content col-md-10">
                  <div role="tabpanel" class="tab-pane active" id="home">
                     <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
                     </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="profile">
                     <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
                     لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
                     </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="messages">
                     <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
                     </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="settings">
                     <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
                     </p>
                  </div>
                </div>

             </article>

            <article class="boxes col-md-12 col-sm-12 col-xs-12">
               <aside class="box_item col-md-4 col-sm-12 col-xs-12">
                  <div class="content">
                     <h4>درباره ما</h4>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                  </div>
               </aside>
               <aside class="box_item col-md-4 col-sm-12 col-xs-12">
                  <div class="content">
                     <h4>درباره ما</h4>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                  </div>
               </aside>
               <aside class="box_item col-md-4 col-sm-12 col-xs-12">
                  <div class="content">
                     <h4>درباره ما</h4>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                     <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است.</p>
                  </div>
               </aside>
            </article>

            </div>
        </div>

    </section>
{% endblock %} 

{% comment %}  {% endcomment %}
   