{% extends "layout.html" %} {% load static %} {% block difbody %}

<section class="page_contact">
  <div class="container">
    <div class="page_contact__box clearfix">
      <div class="contact-form col-md-6 col-sm-6 col-xs-12 pull-right">
        <div class="title">
          <h3>با ما در ارتباط باشید</h3>
        </div>
        <form action="">
          <input type="text" />
          <input type="text" />
          <textarea name="name" rows="4" cols="10"></textarea>
          <button>ارسال</button>
        </form>
      </div>
      <div class="contact-info col-md-6 col-sm-6 col-xs-12 pull-left">
        <div class="box">
          <div class="title">
            <h3>راه های تماس با ما</h3>
          </div>
          <address>
            <div class="page_info_row">
              <span> ایمیل :</span>
              <span class="email"> info@helenews.ir </span>
            </div>
            <div class="page_info_row">
              <span>شماره همراه :</span>
              <span class="num1">09123634288</span>
            </div>
            <div class="page_info_row">
              <span>شماره پیامک</span>
              <span class="num2">100001392</span>
            </div>
          </address>
        </div>
        <!-- box -->
        <div class="box">
          <div class="title">
            <h3>شبکه های اجتماعی</h3>
          </div>
          <div class="socialnetwork">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- box -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
