{% extends "layout.html" %}
{% load static %}
{% block difbody  %}
        </header>

        <section class="gallery_content">
            <div class="container-fluid">

                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g4.jpg'%}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg'%}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g2.jpg'%}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg'%}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g1.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g1.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g4.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g4.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g2.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g2.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g1.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g1.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g4.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g4.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g2.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g2.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g1.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g1.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g4.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g4.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="assets/images/gallery/g2.jpg">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="assets/images/gallery/g2.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g1.jpg' %}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg' % }" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g4.jpg' %}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg' %}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g2.jpg' %}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg'%}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g1.jpg'%}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg' %}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g4.jpg' %}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg'%}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g2.jpg' %}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg'%}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->
                <div class="gallery_item col-md-2 col-sm-4 col-xs-12">
                    <div class="gallery_item__content">
                        <a class="colorbox" href="{% static 'assets/images/gallery/g1.jpg' %}">
                            <div class="content">
                                <div class="photo">
                                    <img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg'%}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery-cat_item -->


            </div>

            <div class="pagination-base">
                <ul class="pagination">
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">6</a>
                    </li>
                </ul>
            </div>

        </section>

{% endblock %}
