{% extends "layout.html" %}
{% load static %}
{% block difbody  %}


        <div class="header_title">
            <img src="{% static 'assets/images/slider/site_bg.jpg' %}" alt="">
            <div class="header_title__content">
                <div class="container">
                    <h2>اخبار</h2>
                </div>
            </div>
        </div>
    </header>


    <section class="blog_content">

        <div class="container">
            <div class="row">

                <nav class="sidebar col-md-3 col-sm-12 col-xs-12 pull-right">

                    <div class="box--default margin-bottom">
                        <h3 class="box_title">آخرین نظرات</h3>
                        <div class="box_content post">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="box--default margin-bottom">
                        <h3 class="box_title">آخرین اخبار</h3>
                        <div class="box_content post">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/gallery/g2.jpg' %}" alt="">
                                        <div>
                                            <span>عنوان مطلب</span>
                                            <span><i class="fa fa-eye"></i> 140</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <article class="blog_list col-md-9 col-sm-12 col-xs-12 pull-left">
                    <div class="row">

                        <div class="blog_item col-md-12 col-sm-12 col-xs-12">
                            <div class="item_content clearfix">
                                <div class="photo col-md-3 col-sm-4 col-xs-12 pull-right">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg' %}" alt=""></a>
                                </div>
                                <div class="text col-md-9 col-sm-8 col-md-12 pull-left">
                                    <a href="#">
                                        <div class="header">
                                            <h3>عنوان</h3>
                                            <div class="meta">
                                                <span>آقای حسنی</span>
                                                <span>130 <i class="fa fa-eye"></i></span>
                                                <span>94/07/12 <i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <p>متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از
                                            ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- blog_item-->
                        <div class="blog_item col-md-12 col-sm-12 col-xs-12">
                            <div class="item_content clearfix">
                                <div class="photo col-md-3 col-sm-4 col-xs-12 pull-right">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg' %}" alt=""></a>
                                </div>
                                <div class="text col-md-9 col-sm-8 col-md-12 pull-left">
                                    <a href="#">
                                        <div class="header">
                                            <h3>عنوان</h3>
                                            <div class="meta">
                                                <span>آقای حسنی</span>
                                                <span>130 <i class="fa fa-eye"></i></span>
                                                <span>94/07/12 <i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <p>متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از
                                            ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- blog_item-->
                        <div class="blog_item col-md-12 col-sm-12 col-xs-12">
                            <div class="item_content clearfix">
                                <div class="photo col-md-3 col-sm-4 col-xs-12 pull-right">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g1.jpg' %}" alt=""></a>
                                </div>
                                <div class="text col-md-9 col-sm-8 col-md-12 pull-left">
                                    <a href="#">
                                        <div class="header">
                                            <h3>عنوان</h3>
                                            <div class="meta">
                                                <span>آقای حسنی</span>
                                                <span>130 <i class="fa fa-eye"></i></span>
                                                <span>94/07/12 <i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <p>متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از
                                            ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- blog_item-->
                        <div class="blog_item col-md-12 col-sm-12 col-xs-12">
                            <div class="item_content clearfix">
                                <div class="photo col-md-3 col-sm-4 col-xs-12 pull-right">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g3.jpg' %}" alt=""></a>
                                </div>
                                <div class="text col-md-9 col-sm-8 col-md-12 pull-left">
                                    <a href="#">
                                        <div class="header">
                                            <h3>عنوان</h3>
                                            <div class="meta">
                                                <span>آقای حسنی</span>
                                                <span>130 <i class="fa fa-eye"></i></span>
                                                <span>94/07/12 <i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <p>متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از
                                            ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- blog_item-->
                        <div class="blog_item col-md-12 col-sm-12 col-xs-12">
                            <div class="item_content clearfix">
                                <div class="photo col-md-3 col-sm-4 col-xs-12 pull-right">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g4.jpg' %}" alt=""></a>
                                </div>
                                <div class="text col-md-9 col-sm-8 col-md-12 pull-left">
                                    <a href="#">
                                        <div class="header">
                                            <h3>عنوان</h3>
                                            <div class="meta">
                                                <span>آقای حسنی</span>
                                                <span>130 <i class="fa fa-eye"></i></span>
                                                <span>94/07/12 <i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <p>متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از
                                            ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- blog_item-->
                        <div class="blog_item col-md-12 col-sm-12 col-xs-12">
                            <div class="item_content clearfix">
                                <div class="photo col-md-3 col-sm-4 col-xs-12 pull-right">
                                    <a href="#"><img class="img-responsive" src="{% static 'assets/images/gallery/g2.jpg' %}" alt=""></a>
                                </div>
                                <div class="text col-md-9 col-sm-8 col-md-12 pull-left">
                                    <a href="#">
                                        <div class="header">
                                            <h3>عنوان</h3>
                                            <div class="meta">
                                                <span>آقای حسنی</span>
                                                <span>130 <i class="fa fa-eye"></i></span>
                                                <span>94/07/12 <i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <p>متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از
                                            ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد متن تست از ایشان می باشد</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- blog_item-->

                    </div>

                    <div class="pagination-base">
                        <ul class="pagination">
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">6</a>
                            </li>
                        </ul>
                    </div>

                </article>
            </div>
        </div>

    </section>
 
{% endblock %}
